/* .body {
    height: 100vh;
    background: #0f1B21;
} */


/* 
:root {
  --main-font: 'Gilroy', sans-serif;
}

body {
  font-family: var(--main-font);
}

h1, h2, h3, h4, h5, h6, p, span, div {
  font-family: var(--main-font);
} */


